In [1]:
# package imports go here
import pandas as pd
import numpy as np
import fastparquet as fp

In [2]:
# Read TmAX weather paqquet file into a pandas dataframe to verify data integrity is maintained
weather_data_TMAX_df = pd.read_parquet('result_files/stp3_us_ca_daily_TMAX_weather_bins.parquet.gzip', engine="fastparquet") 
weather_data_TMAX_df

,-50 To -25,-25 To -10,-10 To 0,0 To 10,10 To 20,20 To 25,25 To 32,32 To 40,40 To 50,50 To 55,...,65 To 70,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125
index,,,,,,,,,,,,,,,,,,,,,
CA001011500,0,0,0,0,0,0,1,9,118,36,...,30,34,34,11,6,2,0,0,0,0
CA001012055,0,0,0,0,0,0,2,4,71,16,...,13,12,17,13,16,10,2,2,0,0
CA001012475,0,0,0,0,0,0,0,6,117,57,...,42,11,8,2,0,0,0,0,0,0
CA001012710,0,0,0,0,0,0,0,8,111,48,...,39,37,10,5,0,0,0,0,0,0
CA001014820,0,0,0,0,0,0,2,27,125,22,...,33,38,33,17,4,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USW00096405,0,0,0,0,0,3,13,63,84,49,...,9,4,1,0,0,0,0,0,0,0
USW00096406,2,11,17,40,49,18,42,28,29,20,...,25,23,10,6,2,0,0,0,0,0
USW00096407,0,6,21,30,31,19,43,28,25,27,...,23,16,9,1,0,0,0,0,0,0
USW00096408,0,1,12,29,54,37,31,43,45,23,...,21,11,5,0,0,0,0,0,0,0
USW00096409,0,26,44,40,41,19,41,33,42,19,...,7,13,4,0,0,0,0,0,0,0

In [3]:
weather_data_TMAX_df.reset_index(inplace=True)
weather_data_TMAX_df.rename(columns={'index': 'ID'}, inplace=True)
weather_data_TMAX_df

,ID,-50 To -25,-25 To -10,-10 To 0,0 To 10,10 To 20,20 To 25,25 To 32,32 To 40,40 To 50,...,65 To 70,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125
0,CA001011500,0,0,0,0,0,0,1,9,118,...,30,34,34,11,6,2,0,0,0,0
1,CA001012055,0,0,0,0,0,0,2,4,71,...,13,12,17,13,16,10,2,2,0,0
2,CA001012475,0,0,0,0,0,0,0,6,117,...,42,11,8,2,0,0,0,0,0,0
3,CA001012710,0,0,0,0,0,0,0,8,111,...,39,37,10,5,0,0,0,0,0,0
4,CA001014820,0,0,0,0,0,0,2,27,125,...,33,38,33,17,4,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8668,USW00096405,0,0,0,0,0,3,13,63,84,...,9,4,1,0,0,0,0,0,0,0
8669,USW00096406,2,11,17,40,49,18,42,28,29,...,25,23,10,6,2,0,0,0,0,0
8670,USW00096407,0,6,21,30,31,19,43,28,25,...,23,16,9,1,0,0,0,0,0,0
8671,USW00096408,0,1,12,29,54,37,31,43,45,...,21,11,5,0,0,0,0,0,0,0
8672,USW00096409,0,26,44,40,41,19,41,33,42,...,7,13,4,0,0,0,0,0,0,0

In [4]:
# Read Ground Station locations
ground_stations_US_CA = pd.read_parquet('result_files/stp2_US_CA_Station_locations.parquet.gzip', engine="fastparquet") 

ground_stations_US_CA

,ID,Lat,Lon,Elevation,State,Name
index,,,,,,
23763,CA001010066,48.8667,-123.2833,13.123360,BC,ACTIVE PASS
23764,CA001010235,48.4000,-123.4833,55.774280,BC,ALBERT HEAD
23765,CA001010595,48.5833,-123.5167,278.871400,BC,BAMBERTON OCEAN CEMENT
23766,CA001010720,48.5000,-124.0000,1151.574840,BC,BEAR CREEK
23767,CA001010774,48.5000,-123.3500,200.131240,BC,BEAVER LAKE
...,...,...,...,...,...,...
125176,USW00096405,60.4731,-145.3542,83.005252,AK,CORDOVA 14 ESE
125177,USW00096406,64.5014,-154.1297,258.858276,AK,RUBY 44 ESE
125178,USW00096407,66.5620,-159.0036,21.981628,AK,SELAWIK 28 E
125179,USW00096408,63.4519,-150.8747,2225.065688,AK,DENALI 27 N
125180,USW00096409,68.6483,-149.3986,2460.958084,AK,TOOLIK LAKE 5 ENE

In [5]:
# Read in Precipitation data
TMAX_PRCP_counts = pd.read_parquet('result_files/stp3_us_ca_daily_PRCP_weather_sums.parquet.gzip', engine="fastparquet") 
TMAX_PRCP_counts

                ID   PRCP  TMAX
index
0      CA001011500  169.0   337
2      CA001012475    0.0   358
3      CA001012710  153.0   346
4      CA001014820  155.8   356
5      CA001015630  167.1   356
...            ...    ...   ...
8668   USW00096405  248.8   311
8669   USW00096406  169.5   364
8670   USW00096407  149.2   318
8671   USW00096408  166.5   364
8672   USW00096409  152.4   364

[7750 rows x 3 columns]

In [6]:
# Combine Location and Precipitation

US_CA_loc_prcp = pd.merge(ground_stations_US_CA, TMAX_PRCP_counts, on='ID', how='inner')
US_CA_loc_prcp

,ID,Lat,Lon,Elevation,State,Name,PRCP,TMAX
0,CA001011500,48.9333,-123.7500,246.063000,BC,CHEMAINUS,169.0,337
1,CA001012475,48.4167,-123.2333,49.212600,BC,DISCOVERY ISLAND,0.0,358
2,CA001012710,48.4333,-123.4333,9.842520,BC,ESQUIMALT HARBOUR,153.0,346
3,CA001014820,48.5667,-123.5333,1200.787440,BC,MALAHAT,155.8,356
4,CA001015630,48.8167,-123.7167,154.199480,BC,NORTH COWICHAN,167.1,356
...,...,...,...,...,...,...,...,...
7745,USW00096405,60.4731,-145.3542,83.005252,AK,CORDOVA 14 ESE,248.8,311
7746,USW00096406,64.5014,-154.1297,258.858276,AK,RUBY 44 ESE,169.5,364
7747,USW00096407,66.5620,-159.0036,21.981628,AK,SELAWIK 28 E,149.2,318
7748,USW00096408,63.4519,-150.8747,2225.065688,AK,DENALI 27 N,166.5,364
7749,USW00096409,68.6483,-149.3986,2460.958084,AK,TOOLIK LAKE 5 ENE,152.4,364

In [7]:
US_CA_Ground_Stations_n_locations = pd.merge(US_CA_loc_prcp, weather_data_TMAX_df, on='ID', how='inner')
US_CA_Ground_Stations_n_locations

,ID,Lat,Lon,Elevation,State,Name,PRCP,TMAX,-50 To -25,-25 To -10,...,65 To 70,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125
0,CA001011500,48.9333,-123.7500,246.063000,BC,CHEMAINUS,169.0,337,0,0,...,30,34,34,11,6,2,0,0,0,0
1,CA001012475,48.4167,-123.2333,49.212600,BC,DISCOVERY ISLAND,0.0,358,0,0,...,42,11,8,2,0,0,0,0,0,0
2,CA001012710,48.4333,-123.4333,9.842520,BC,ESQUIMALT HARBOUR,153.0,346,0,0,...,39,37,10,5,0,0,0,0,0,0
3,CA001014820,48.5667,-123.5333,1200.787440,BC,MALAHAT,155.8,356,0,0,...,33,38,33,17,4,4,0,0,0,0
4,CA001015630,48.8167,-123.7167,154.199480,BC,NORTH COWICHAN,167.1,356,0,0,...,22,32,40,34,9,7,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7745,USW00096405,60.4731,-145.3542,83.005252,AK,CORDOVA 14 ESE,248.8,311,0,0,...,9,4,1,0,0,0,0,0,0,0
7746,USW00096406,64.5014,-154.1297,258.858276,AK,RUBY 44 ESE,169.5,364,2,11,...,25,23,10,6,2,0,0,0,0,0
7747,USW00096407,66.5620,-159.0036,21.981628,AK,SELAWIK 28 E,149.2,318,0,6,...,23,16,9,1,0,0,0,0,0,0
7748,USW00096408,63.4519,-150.8747,2225.065688,AK,DENALI 27 N,166.5,364,0,1,...,21,11,5,0,0,0,0,0,0,0
7749,USW00096409,68.6483,-149.3986,2460.958084,AK,TOOLIK LAKE 5 ENE,152.4,364,0,26,...,7,13,4,0,0,0,0,0,0,0

In [8]:
US_CA_Ground_Stations_n_locations.columns

Index(['ID', 'Lat', 'Lon', 'Elevation', 'State', 'Name', 'PRCP', 'TMAX',
       '-50 To -25', '-25 To -10', '-10 To 0', '0 To 10', '10 To 20',
       '20 To 25', '25 To 32', '32 To 40', '40 To 50', '50 To 55', '55 To 60',
       '60 To 65', '65 To 70', '70 To 75', '75 To 80', '80 To 85', '85 To 90',
       '90 To 95', '95 To 100', '100 To 110', '110 To 120', '120 To 125'],
      dtype='object')

In [9]:
US_CA_Ground_Stations_n_locations['total days'] = US_CA_Ground_Stations_n_locations[['-50 To -25', '-25 To -10', '-10 To 0', '0 To 10', 
                                                                                     '10 To 20', '20 To 25', '25 To 32', '32 To 40', 
                                                                                     '40 To 50', '50 To 55', '55 To 60', '60 To 65', 
                                                                                     '65 To 70', '70 To 75', '75 To 80', '80 To 85', 
                                                                                     '85 To 90', '90 To 95', '95 To 100', '100 To 110', 
                                                                                     '110 To 120', '120 To 125']].sum(axis=1)

In [10]:
US_CA_Ground_Stations_n_locations

,ID,Lat,Lon,Elevation,State,Name,PRCP,TMAX,-50 To -25,-25 To -10,...,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125,total days
0,CA001011500,48.9333,-123.7500,246.063000,BC,CHEMAINUS,169.0,337,0,0,...,34,34,11,6,2,0,0,0,0,337
1,CA001012475,48.4167,-123.2333,49.212600,BC,DISCOVERY ISLAND,0.0,358,0,0,...,11,8,2,0,0,0,0,0,0,358
2,CA001012710,48.4333,-123.4333,9.842520,BC,ESQUIMALT HARBOUR,153.0,346,0,0,...,37,10,5,0,0,0,0,0,0,346
3,CA001014820,48.5667,-123.5333,1200.787440,BC,MALAHAT,155.8,356,0,0,...,38,33,17,4,4,0,0,0,0,356
4,CA001015630,48.8167,-123.7167,154.199480,BC,NORTH COWICHAN,167.1,356,0,0,...,32,40,34,9,7,2,0,0,0,356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7745,USW00096405,60.4731,-145.3542,83.005252,AK,CORDOVA 14 ESE,248.8,311,0,0,...,4,1,0,0,0,0,0,0,0,311
7746,USW00096406,64.5014,-154.1297,258.858276,AK,RUBY 44 ESE,169.5,364,2,11,...,23,10,6,2,0,0,0,0,0,364
7747,USW00096407,66.5620,-159.0036,21.981628,AK,SELAWIK 28 E,149.2,318,0,6,...,16,9,1,0,0,0,0,0,0,318
7748,USW00096408,63.4519,-150.8747,2225.065688,AK,DENALI 27 N,166.5,364,0,1,...,11,5,0,0,0,0,0,0,0,364
7749,USW00096409,68.6483,-149.3986,2460.958084,AK,TOOLIK LAKE 5 ENE,152.4,364,0,26,...,13,4,0,0,0,0,0,0,0,364

In [11]:
# US CA Ground Station Temperature Counts X> Temp
                                                                                    # '-50 To -25',
                                                                                    # '-25 To -10',
                                                                                    # '-10 To 0',
                                                                                    # '0 To 10',
                                                                                    # '10 To 20', 
                                                                                    # '20 To 25', 
                                                                                    # '25 To 32', 
                                                                                    # '32 To 40', 
                                                                                    # '40 To 50', 
                                                                                    # '50 To 55', 
                                                                                    # '55 To 60', 
                                                                                    # '60 To 65',
                                                                                    # '65 To 70', 
                                                                                    # '70 To 75', 
                                                                                    # '75 To 80', 
                                                                                    # '80 To 85', 
                                                                                    # '85 To 90', 
                                                                                    # '90 To 95',
                                                                                    # '95 To 100',
                                                                                    # '100 To 110', 
                                                                                    # '110 To 120',
                                                                                    # '120 To 125'

# Calculate Days>90
US_CA_Ground_Stations_n_locations['Days>60'] = (US_CA_Ground_Stations_n_locations[['60 To 65', 
                                                                                   '65 To 70', 
                                                                                   '70 To 75', 
                                                                                   '75 To 80', 
                                                                                   '80 To 85', 
                                                                                   '85 To 90', 
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>65
US_CA_Ground_Stations_n_locations['Days>65'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '65 To 70', 
                                                                                   '70 To 75', 
                                                                                   '75 To 80', 
                                                                                   '80 To 85', 
                                                                                   '85 To 90', 
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>70
US_CA_Ground_Stations_n_locations['Days>70'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '70 To 75', 
                                                                                   '75 To 80', 
                                                                                   '80 To 85', 
                                                                                   '85 To 90', 
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>75
US_CA_Ground_Stations_n_locations['Days>75'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '75 To 80', 
                                                                                   '80 To 85', 
                                                                                   '85 To 90', 
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>80
US_CA_Ground_Stations_n_locations['Days>80'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '80 To 85', 
                                                                                   '85 To 90', 
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>85
US_CA_Ground_Stations_n_locations['Days>85'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '85 To 90', 
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>90
US_CA_Ground_Stations_n_locations['Days>90'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '90 To 95',
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>95
US_CA_Ground_Stations_n_locations['Days>95'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '95 To 100', 
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>100
US_CA_Ground_Stations_n_locations['Days>100'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '100 To 110', 
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)
# Calculate Days>110
US_CA_Ground_Stations_n_locations['Days>110'] = (US_CA_Ground_Stations_n_locations[[
                                                                                   '110 To 120', 
                                                                                   '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>120
US_CA_Ground_Stations_n_locations['Days>120'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '120 To 125'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [12]:
# Calculate Days<-25
US_CA_Ground_Stations_n_locations['Days<-25'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<-10
US_CA_Ground_Stations_n_locations['Days<-10'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<0
US_CA_Ground_Stations_n_locations['Days<0'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<10
US_CA_Ground_Stations_n_locations['Days<10'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<20
US_CA_Ground_Stations_n_locations['Days<20'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<25
US_CA_Ground_Stations_n_locations['Days<25'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<32
US_CA_Ground_Stations_n_locations['Days<32'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<40
US_CA_Ground_Stations_n_locations['Days<40'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<50
US_CA_Ground_Stations_n_locations['Days<50'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 50'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<55
US_CA_Ground_Stations_n_locations['Days<55'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 50', 
                                                                                    '50 To 55'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<60
US_CA_Ground_Stations_n_locations['Days<60'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 50', 
                                                                                    '50 To 55', 
                                                                                    '55 To 60'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<65
US_CA_Ground_Stations_n_locations['Days<65'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '-50 To -25',
                                                                                    '-25 To -10',
                                                                                    '-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 50', 
                                                                                    '50 To 55', 
                                                                                    '55 To 60', 
                                                                                    '60 To 65'
                                    ]].sum(axis=1) / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [13]:
# Calculate Days between 75 & 95
US_CA_Ground_Stations_n_locations['Days 75-95'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '75 To 80', 
                                                                                    '80 To 85', 
                                                                                    '85 To 90',
                                                                                    '90 To 95'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [14]:
# Calculate Days between 25 & 55
US_CA_Ground_Stations_n_locations['Days 25-55'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 50', 
                                                                                    '50 To 55'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [15]:
# Calculate Days between 32 & 65
US_CA_Ground_Stations_n_locations['Days 32-65'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '32 To 40', 
                                                                                    '40 To 50', 
                                                                                    '50 To 55', 
                                                                                    '55 To 60', 
                                                                                    '60 To 65'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [16]:
# Calculate Days between 60- & 80
US_CA_Ground_Stations_n_locations['Days 60-80'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '60 To 65',
                                                                                    '65 To 70', 
                                                                                    '70 To 75', 
                                                                                    '75 To 80' 
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [17]:
US_CA_Ground_Stations_n_locations

,ID,Lat,Lon,Elevation,State,Name,PRCP,TMAX,-50 To -25,-25 To -10,...,Days<32,Days<40,Days<50,Days<55,Days<60,Days<65,Days 75-95,Days 25-55,Days 32-65,Days 60-80
0,CA001011500,48.9333,-123.7500,246.063000,BC,CHEMAINUS,169.0,337,0,0,...,1.08,10.83,138.64,177.63,209.04,238.28,57.40,177.63,237.20,135.39
1,CA001012475,48.4167,-123.2333,49.212600,BC,DISCOVERY ISLAND,0.0,358,0,0,...,0.00,6.12,125.41,183.52,243.67,300.77,10.20,183.52,300.77,119.29
2,CA001012710,48.4333,-123.4333,9.842520,BC,ESQUIMALT HARBOUR,153.0,346,0,0,...,0.00,8.44,125.53,176.17,222.59,269.00,15.82,176.17,269.00,137.14
3,CA001014820,48.5667,-123.5333,1200.787440,BC,MALAHAT,155.8,356,0,0,...,2.05,29.73,157.89,180.45,210.18,232.74,59.47,180.45,230.69,129.19
4,CA001015630,48.8167,-123.7167,154.199480,BC,NORTH COWICHAN,167.1,356,0,0,...,0.00,8.20,101.50,164.04,184.55,215.31,92.28,164.04,215.31,127.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7745,USW00096405,60.4731,-145.3542,83.005252,AK,CORDOVA 14 ESE,248.8,311,0,0,...,18.78,92.72,191.30,248.81,307.49,348.57,1.17,245.29,329.79,57.51
7746,USW00096406,64.5014,-154.1297,258.858276,AK,RUBY 44 ESE,169.5,364,2,11,...,179.49,207.57,236.65,256.70,277.76,298.82,18.05,119.33,119.33,79.22
7747,USW00096407,66.5620,-159.0036,21.981628,AK,SELAWIK 28 E,149.2,318,0,6,...,172.17,204.31,233.00,263.99,286.95,308.76,11.48,141.18,136.59,76.90
7748,USW00096408,63.4519,-150.8747,2225.065688,AK,DENALI 27 N,166.5,364,0,1,...,164.45,207.57,252.69,275.76,298.82,327.90,5.01,142.39,163.45,66.18
7749,USW00096409,68.6483,-149.3986,2460.958084,AK,TOOLIK LAKE 5 ENE,152.4,364,0,26,...,211.58,244.67,286.79,305.84,323.89,340.93,4.01,135.37,129.35,41.11

In [18]:
# Writing to parquet
US_CA_Ground_Stations_n_locations.to_parquet('result_files/stp4_us_ca_weather_categories.parquet.gzip', compression='gzip', engine="fastparquet")

In [19]:
US_CA_Ground_Stations_n_locations = pd.read_parquet('result_files/stp4_us_ca_weather_categories.parquet.gzip', engine="fastparquet") 
US_CA_Ground_Stations_n_locations.dtypes

ID             object
Lat           float64
Lon           float64
Elevation     float64
State          object
Name           object
PRCP          float64
TMAX            int64
-50 To -25      int64
-25 To -10      int64
-10 To 0        int64
0 To 10         int64
10 To 20        int64
20 To 25        int64
25 To 32        int64
32 To 40        int64
40 To 50        int64
50 To 55        int64
55 To 60        int64
60 To 65        int64
65 To 70        int64
70 To 75        int64
75 To 80        int64
80 To 85        int64
85 To 90        int64
90 To 95        int64
95 To 100       int64
100 To 110      int64
110 To 120      int64
120 To 125      int64
total days      int64
Days>60       float64
Days>65       float64
Days>70       float64
Days>75       float64
Days>80       float64
Days>85       float64
Days>90       float64
Days>95       float64
Days>100      float64
Days>110      float64
Days>120      float64
Days<-25      float64
Days<-10      float64
Days<0        float64
Days<10       float64
Days<20       float64
Days<25       float64
Days<32       float64
Days<40       float64
Days<50       float64
Days<55       float64
Days<60       float64
Days<65       float64
Days 75-95    float64
Days 25-55    float64
Days 32-65    float64
Days 60-80    float64
dtype: object